body {
    background-color: #444444;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Karla', sans-serif;
    font-size: 1.1em;

}

pre {
	background: white;
	border-radius: 4px;
	padding: 9.5px;
	margin: 0 0 10px;
	border: 1px solid #EEF1F6;
}

#main-container {
    padding-left: 50px;
    height: 100%;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    transition: 0.10s;
}

h1 {
	left: 0;
	right: 0;
	width: 85%;
	margin: 0 auto;
	text-align: center;
	position: sticky;
	top: 0;
    background-color: #F1F1F1;
	/* border-radius: 0px 0px 12px 0px; */
	border-radius: 8px 0px 0px 0px;
    padding: 15px 51px;
    display:block;
    z-index: 499 !important;
    max-width: 1000px;
	min-width: 600px;
	margin: 0px auto 5px auto;
}

#side-nav {
	height: 100%;
	width: 50px;
	top:0;
	left: 0;
	position: fixed;
	background-color: #253a47;
	/*Hide the items within the bar*/
	/* For some reason overflow hidden created a scrolling bar
	/*overflow-x: hidden;*/
	overflow: hidden;
	transition: 0.10s;
	/*IMPORTANT! This way it's always in front?*/
	z-index: 500 !important;
}

.side-nav-item{
	display: block;
	width: 200px;
	background-color: #253a47;
	visibility:hidden;
}

#side-nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.expand-button {
	text-align: right;
	visibility: visible;
	overflow: visible;
	transition: 0.30s;
	text-align: center;
}

.expand-button:hover {
	/* background-color: #18242c; */
	cursor:pointer;
}

.side-nav-items .side-nav-item:hover {
	/* background-color: #18242c; */
	/*border: black 1px solid;*/
	/* margin-left: 5px; */
	cursor:pointer;
}

.see_more div {
	display: none;
	padding-top: 10px;
}

.see_more a {
	cursor: pointer;
	color:  #23629F;
	display: block;
	padding-top: 10px;
	font-style: italic;
}

.see_more a:hover {
	opacity: 0.75;
}

.side-nav-items a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 10px 15px 10px 15px;
}

.side-nav-items a:hover {
	color: rgba(255, 255, 255, 0.479);
}

#side-nav-expand {
	width: 50px;
	padding: 0px;
	visibility: visible;
}

/*Social media section of side-nav bar*/

.social-media {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
}

.social-media div {
	width: 18%;
	display: inline-block;
	text-align: center;
}

.fa {
  padding-bottom: 10px;
  font-size: 30px;
  width: 20px;
  text-decoration: none;
  margin: 2px auto;
  color: white;
}

.fa:hover {
	color: rgba(255, 255, 255, 0.479);
}

/*Body styling for each section of the page.*/

.section-body {
	width: 85%;
	max-width: 1000px;
	min-width: 600px;
	margin: 0px auto 20px auto;
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	border-color: rgb(199, 199, 199); 
	border-radius: 12px 1px;
	padding: 10px 50px;
	background-color: #F1F1F1
}

/*About me section*/

.about-me{
	overflow: auto;
	border-radius: 0px 0px 8px 0px;
}

.profile-picture-frame {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 20px 30px 20px 0;
	float:left;
	/*Overflow hidden places frame OVER the picture*/
	overflow: hidden;
}

.profile-picture {
	width: 100%;
	height: auto;
}

.contacts {
	width: 100%;
	margin-top: 40px;
}

.contact {
	/*background: yellow;*/
	margin-right: 40px;
	text-decoration: none;
	color: black;
}

.contact:hover {
	opacity: 0.75;
}

.contact img{
	height: 30px;
	vertical-align: middle;
}

.contact span {
	padding-bottom: 10px;
	vertical-align: middle;
	padding-left: 10px;
}

/* Gallery section. Not implemented yet */

.gallery-container {
	display: none;
}
.gallery {
	margin: 100px 0;
	/*background: pink;*/
	padding: 50px;
	/*display: none;*/
}
.pictures {
	/*background-color: black;*/
	width: 100%;

	/*height: 300px;*/
	/*margin: 20px auto;*/
	margin-bottom: 10px auto;
}

.main-picture-container{
	width: 80%;
	margin: 0 auto;
}

.picture-container{
	width: 24%;
	/*height: 100%;*/
	width: 0 auto;
	margin: 0.5%;
	/*text-align: center;*/
	/*display: inline;*/
	float: left;
}
.picture {
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.clear {
	clear: both;
}

.video-post{
	/*width: 80%;*/
	/*background:pink;*/
	/*min-height: 100px;*/
	margin: 0 auto;
	overflow: auto;
	padding: 50px;
	/*Not implemented yet*/
	display: none;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	width: 100%;
	/*overflow:auto;*/
	/*margin: 0;*/
	float:left;
}
.videoDescription {
	width: 50%;
	float:left;
	margin: 0;
}
.clear {
	clear: both;
}
.videoWrapper iframe {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* Logos used in resume-sections */

.logo-container {
	width: 70px;
	padding-top: 15px;
	float: left;
}

.logo-frame {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin: 0;
	/*float:left;*/
	/*text-align: center;*/
	/*background: pink;*/
	/*Overflow hidden places frame OVER the picture*/
	overflow: hidden;
}

.logo {
	width: 100%;
	height: auto;
}

/*General resume section styling*/

.resume {
	/*width:80%;*/
	/*padding-top: 20px;*/
}

.projects-section .resume-section-entry div .skills{
	padding-bottom: 25px;
	border-bottom: 1px solid grey;
}

.resume-section {
	margin-bottom: 50px;
}

.resume-section h2{
	margin: 0 auto 20px auto;
	padding-top: 60px;
	border-bottom: 1px grey solid;
}

.resume-section-details{
	width: 85%;
	float: right;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 40px;
}

/* Styling for a single entry in a resume-section */

.entry{
	list-style-type: none;
	padding-left: 0px;
}

.entry-name{
	float: left;
	font-weight: bold;
}

.location {
	padding-bottom: 5px;
	float: right;
	font-style: italic;
	font-weight: bold;
}

.role {
	color: rgba(0, 0, 0, 0.89);
}

.date {
	color: rgba(0, 0, 0, 0.89);
	padding-bottom: 5px;
	float: right;
	font-style: italic;
}

.entry-description {
	padding-left: 0;
	margin-left: 0;
}

.entry-description li{
	margin-top: 10px;
	margin-left: 0;
	padding-left: 0;
}

.skills {
	list-style-type: none;
}

.language-skill {
	border: #4E7FA0 1px solid;
	color: #4E7FA0;
	padding: 5px;
	margin: 4px;
	border-radius: 8px;
	float: left;
}

.technology-skill {
	border: green 1px solid;
	color: green;
	padding: 5px;
	margin: 4px;
	border-radius: 8px;
	float: left;
}
