body {
    background-color: #E1E1E1;
    /*background-image:;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Karla', sans-serif;
    font-size: 1.1em;

}
pre {
	background: white;
	border-radius: 4px;
	padding: 9.5px;
	margin: 0 0 10px;
	border: 1px solid #EEF1F6;

	/*border*/
	/*line-*/
}

#main-container {
    padding-left: 50px;
    height: 100%;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    /*background-color: #F1F1F1;*/
    /*background: black;*/
    /*overflow hidden gets rid of bottom scrollbar*/
    overflow-x: hidden;
    transition: 0.10s;
    /*overflow: auto;*/


}
/*	width: 85%;
	max-width: 1000px;
	min-width: 600px;
	margin: 50px auto;
	border: gray 1px solid;
	padding: 50px;*/
h1 {
	/*background-color: #E1E1E1;*/
	left: 0;
	right: 0;
	/*width: 100%;*/
	width: 85%;
	margin: 0 auto;
	text-align: center;
	position: sticky;
	top: 0;
    /*background-color: #F1F1F1;*/
    background-color: #E1E1E1;
    padding: 10px 51px;
    display:block;
    z-index: 499 !important;
    /*border-bottom: grey solid 2px;*/
    max-width: 1000px;
	min-width: 600px;

}
#side-nav {
	height: 100%;
	width: 50px;
	/*margin: 0;*/
	top:0;
	left: 0;
	/*border: 2px black solid;*/
	position: fixed;
	background-color: #4E7FA0;
	/*Hide the items within the bar*/
	/* For some reason overflow hidden created a scrolling bar
	/*overflow-x: hidden;*/
	overflow: hidden;
	transition: 0.10s;
	/*IMPORTANT! This way it's always in front?*/
	z-index: 500 !important;

}

#side-nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	/*visibility: hidden;*/


}
.expand-button {
	text-align: right;
	/*background: black;*/
	/*padding-right:;*/
	visibility: visible;
	overflow: visible;
	transition: 0.30s;
	text-align: center;
}
.expand-button:hover {
	background-color: #45708C;
	cursor:pointer;
}

.side-nav-items .side-nav-item:hover {
	background-color: #45708C;
	/*border: black 1px solid;*/
	margin-left: 5px;
	cursor:pointer;
}

.side-nav-item{
	display: block;
	width: 200px;
	/*padding: 10px 0;*/
	background-color: #4E7FA0;
	visibility:hidden;
	/*width: 50px;*/
}
.see_more div {
	display: none;


}
.see_more a {
	cursor: pointer;
	color:  #23629F;
	display: block;
	padding-top: 10px;
	font-style: italic;
}

.side-nav-items a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 10px 15px 10px 15px;
}
.side-nav-items a:hover {
	color: black;
}

#side-nav-expand {
	width: 50px;
	padding: 0px;
	/*margin-left: 100px;*/
	visibility: visible;
	/*float: right;*/
	/*overflow: visible;*/

}
/*Social Media Stuff*/

.social-media {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	/*border: black s2px solid;*/
}

.social-media div {
	width: 18%;
	display: inline-block;
	/*border: black 1px solid;*/
	text-align: center;

}

.fa {
  padding-bottom: 10px;
  font-size: 30px;
  width: 20px;
  /* why align center*/
  /*text-align: center;*/
  text-decoration: none;
  margin: 2px auto;
  /*border-radius: 50%;*/
  color: white;
  /*border: pink 1px solid;*/
}

.fa:hover {
	color: black;
}

/*Body styling for each section of the page.*/
.section-body {
	width: 85%;
	max-width: 1000px;
	min-width: 600px;
	margin: 0px auto 20px auto;
	/*border: gray 1px solid;*/
	padding: 10px 50px;
	background-color: #F1F1F1
}


/*MAIN BODY*/
.about-me{
	text-align: justify;
	/*overflow for the picture*/
	overflow: auto;
	/*background: grey;*/

}
.profile-picture-frame {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 20px 30px 20px 0;
	float:left;
	/*Overflow hidden places frame OVER the picture*/
	overflow: hidden;

}

.profile-picture {
	width: 100%;
	height: auto;
}
.contacts {
	width: 100%;
	margin-top: 40px;
}
.contact {
	/*background: yellow;*/
	margin-right: 40px;
	text-decoration: none;
	color: black;
}
.contact img{
	height: 30px;
	/*float: left;*/
	vertical-align: middle;
}
.contact span {
	padding-bottom:/* */10px;
	/*float: left;*/
	vertical-align: middle;

	padding-left: 10px;
}
.gallery-container {
	/*Not implemented yet*/
	display: none;
}
.gallery {
	margin: 100px 0;
	/*background: pink;*/
	padding: 50px;
	/*Not implemented yet*/
	/*display: none;*/
}
.pictures {
	/*background-color: black;*/
	width: 100%;

	/*height: 300px;*/
	/*margin: 20px auto;*/
	margin-bottom: 10px auto;
}

.main-picture-container{
	width: 80%;
	margin: 0 auto;
}

.picture-container{
	width: 24%;
	/*height: 100%;*/
	width: 0 auto;
	margin: 0.5%;
	/*text-align: center;*/
	/*display: inline;*/
	float: left;
}
.picture {
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.clear {
	clear: both;
}

.video-post{
	/*width: 80%;*/
	/*background:pink;*/
	/*min-height: 100px;*/
	margin: 0 auto;
	overflow: auto;
	padding: 50px;
	/*Not implemented yet*/
	display: none;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	width: 100%;
	/*overflow:auto;*/
	/*margin: 0;*/
	float:left;
}
.videoDescription {
	width: 50%;
	float:left;
	margin: 0;
}
.clear {
	clear: both;
}
.videoWrapper iframe {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.page-section-header{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 20px 0;
	/*border: 1px grey solid;*/
	background-color: #F1F1F1
}

.logo-container {
	/*width: 15%;*/
	width: 70px;
	/*margin:10px;*/
	/*margin-right: 20px;*/
	padding-top: 15px;
	/*background: pink;*/
	float: left;
}
.logo-frame {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin: 0;
	/*float:left;*/
	/*text-align: center;*/
	/*background: pink;*/
	/*Overflow hidden places frame OVER the picture*/
	overflow: hidden;

}

.logo {
	width: 100%;
	height: auto;
}
/*Resume in general styling section*/
.resume {
	/*width:80%;*/
	/*padding-top: 20px;*/
}
.projects-section .resume-section-entry div .skills{
	padding-bottom: 25px;
	border-bottom: 1px solid grey;

}

.resume-section {
	margin-bottom: 50px;
}

.resume-section h2{
	/*min-width:25%;*/
	margin: 0 auto 20px auto;
	padding-top: 60px;
	/*display:inline;*/
	/*background: pink;*/
	/*float: left;*/
	border-bottom: 1px grey solid;
}
.resume-section-details{
	/*background: green;*/
	width: 85%;
	float: right;
	margin: 0 auto;
	/*padding: 20px;*/
	padding-top: 0;
	padding-bottom: 40px;
}
/*Subsections of the resume-section-details*/

.entry{
	/*margin: 0 auto;*/
	/*background: green;*/
	/*width: 30%;*/
	list-style-type: none;
	/*display:inline;*/
	/*float:left;*/
	/*background: black;*/
	padding-left: 0px;

}
/*.coursework{
	list-style-type: none;
	display:inline;
	padding-left: 0px;
}*/

.entry-name{
	float: left;
	font-weight: bold;
}

.location {
	padding-bottom: 5px;
	float: right;
	font-style: italic;
	font-weight: bold;
}
.date {
		padding-bottom: 5px;

	float: right;
	font-style: italic;

}
.entry-description {
	/*background: green;*/
	padding-left: 0;
	margin-left: 0;
}
.entry-description li{
	margin-top: 10px;
	margin-left: 0;
	padding-left: 0;
	/*background: pink;*/
}
.skills {
	list-style-type: none;
}
.language-skill {
	border: #4E7FA0 1px solid;
	color: #4E7FA0;
	padding: 5px;
	margin: 4px;
	border-radius: 8px;
	float: left;
}
.technology-skill {
	border: green 1px solid;
	color: green;
	padding: 5px;
	margin: 4px;
	border-radius: 8px;
	float: left;
}
